:root {
    
    /*Transparencias*/
    --lowTransparency: ;
    --mediumTransparency: rgba(255, 255, 255, 0.9); /*header-center*/
    --highTransparency: ;

    /*Colores azules*/
    --lightBlue: #5abed7;
    --blue: #049dcb; 
    --mediumBlue: #21596c;
    --darkBlue: #21264D;

    /*Colores naranjas*/
    --lightOrange: #fff3e7;
    --mediumOrange:#f1b97e;
    --orange: #ed7a00;


}