/* CSS para el contenedor del juego */
#game-container {
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    margin: 0;
    padding: 0;
    display: block;
    background-color: #000; /* Fondo negro si no se muestra el juego */
}

/* Asegúrate de que body y html también ocupen toda la pantalla */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita las barras de desplazamiento */
}
